* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: Arial, sans-serif;
}
body {
    background: #193B48;
}

.container {
    max-width: 992px;
    min-width: 360px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.editor {
    border: 5px solid #ccc;
    margin-top: 5em;
    background: #fff;
}
.colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
    padding: 1em;
    border-bottom: 5px solid #ccc;
}
.colors button {
    border: 0;
    border-radius: 10px;
    padding: 0.75em;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.red {
    background: red;
}
.green {
    background: green;
}
.blue {
    background: blue;
}