/*CSS RESET*/

*{
	margin: 0;
	padding: 0;
}

/*PUT YOUR CODE CSS HERE*/

body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#block{
	width: 600px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 5px solid green;
	position: relative;
	background: skyblue;
}

.ball{
	width: 50px;
	height: 50px;
	bottom: 300px;
	border-radius: 50%;
	background: red;
	position: absolute;
	top: 90%;
	animation: ball_jump 2s ease infinite;
}
@keyframes ball_jump {
	from {
		position: absolute;
		top: 90%;
	}
	50% {
		top: 50%
	}
	to {
		top: 90%;
	}
}
