<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <textarea v-on:keydown="input" v-model="textArea" name="" id="" cols="30" rows="10">

        </textarea>
        <div class="keyboard">
            <div
                v-for="(item, key) in keyboard"
                :class="key"
            >
                <button
                    v-for="i in item"
                    @click="inputKey(i)"
                    :data-id="i"
                >
                    {{ i.toUpperCase() }}
                </button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    let app = new Vue({
        el: '.container',
        data()
        {
            return {
                textArea: '',
                keyboard: {
                    'row-1': [
                        "1", "2", "3", "4", "5", "6", "7", "8", "9", "0", "Backspace"
                    ],
                    'row-2': [
                        "q", "w", "e", "r", "t", "y", "u", "i", "o", "p"
                    ],
                    'row-3': [
                       "a", "s", "d", "f", "g", "h", "j", "k", "l"
                    ],
                    'row-4': [
                        "z", "x", "c", "v", "b", "n", "m"
                    ]
                }
            }
        },
        methods: {
            input(e) {
                let el = document.querySelector('[data-id="'+e.key+'"]');
                el.classList.add('active');
                setTimeout(() => {
                    el.classList.remove('active');
                }, 200)
            },
            inputKey(key) {
                switch (key) {
                    case 'Backspace': {
                        this.textArea = this.textArea.slice(0, -1);
                    }
                    break;
                    default: {
                        this.textArea += key;
                    }
                }
            }
        }
    });
    </script>
    <script>
        window.addEventListener('keydown', e => {
        })
    </script>
</body>
</html>
